[mysqld]
default_authentication_plugin= mysql_native_password
collation-server = utf8_general_ci
character-set-server = utf8
local-infile = 1
#secure-file-priv =/var/www/insta/data/www/like.biz
secure-file-priv =/var/lib/mysql-files
innodb_file_per_table = 1
pid-file = /var/run/mysqld/mysqld.pid
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
bind-address = 127.0.0.1
#skip-networking

log-error = /var/log/mysql.log
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd

#disable_log_bin
max-connections = 10000

innodb_buffer_pool_size = 10G

long_query_time = 1
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
log_error = /var/log/mysql/error.log
innodb_print_all_deadlocks = ON



tmp_table_size = 1G
max_heap_table_size = 1G

innodb_flush_log_at_trx_commit = 2

#[mysqld_safe]
#log-error=/var/log/mariadb/mariadb.log
#pid-file=/var/run/mariadb/mariadb.pid
#
# include all files from the config directory
#
#!includedir /etc/my.cnf.d

